$them-color:#0d6459;
$them-color-2:#093a34;
$them-color-3:#022d28;
$them-color-4:#213331;
$them-color-5:#0f8f7f;

$button-bg-yellow:#fccc2f;


$hex-000:#000;
$hex-333:#333;
$hex-666:#666;
$hex-999:#999;
$hex-fff:#fff;

$hex-gray-01:#eefaf2;
$hex-gray-f8:#f8f8f8;
$hex-gray-e2:#e2e2e2;
$hex-gray-cb:#cbcbcb;
$hex-gray-e3:#e3e3e3;
$hex-gray-d8:#d8d8d8;

$hex-black-01:#010101;

$hex-red-cd:#cd2323;

$hex-0f8f7f:#0f8f7f;
$hex-076a5e:#076a5e;

$hex-blue-35acff:#35acff;

$hex-green-3c:#3cdca0;

$hex-yellow-ff:#ffb107;


body {
    // padding: 70px 0 0;
    font-family: ArialMT, Helvetica, sans-serif;
}